.App {
    height: 100vh;
}
.main-container {
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 90%;
    width: 60%;
    border-radius: 10px;
}
.scrambled-word {
    text-align: center;
    font-size: 28px;
    padding-top: 50px;
    font-weight: bolder;
    color: blue;
}

.main-container > p {
    text-align: center;
    padding-top: 50px;
    font-size: 18px;
    font-weight: bolder;
}